@model TechJobs.ViewModels.SingleJobViewModel

<table class="job-listing">
        <tr>
            <td>Name</td>
            <td>@Model.bob.Name</td>
        </tr>
        <tr>
            <td>Employer</td>
            <td>@Model.bob.Employer</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>@Model.bob.Location</td>
        </tr>
        <tr>
            <td>Skill</td>
            <td>@Model.bob.CoreCompetency</td>
        </tr>
        <tr>
            <td>Position Type</td>
            <td>@Model.bob.PositionType</td>
        </tr>
    </table>



